.App {
  text-align: center;
}

.screen-row input{
  width: 400px;
      background: #ddd;
      border: 0px;
      color: #222;
      padding: 10px;
      text-align: right;
  }

  input[type='button']{
    width: 100px;
    background: #808080;
    border: 1px solid #222;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 
input[type='button']:active{
    background: #ccc;
}

.yellow{
  background:#ffff00!important;
}
